nav{
    font-family: 'Noto Sans KR', sans-serif;
}
#pre-law{
    padding-top: 20px;
    padding-bottom: 31px;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: 'PT Serif', serif;
}
#portfolio{
    text-align: center;
    padding-top: 230px;
    margin-right: 300px;
    margin-left: 300px;
    font-family: 'PT Serif', serif;
}

#pic1 {
    height: 540px;
    padding-top: 100px;
    margin-left: 200px
}
#work{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #C2D2ED;
    padding-left: 100px;
    margin-top: 150px;
    color: #377CE9;
    margin-bottom: 50px;
    font-family: 'PT Serif', serif;
}
#Morgan{
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}
#Cousins{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 50px;
    font-family: 'Noto Sans KR', sans-serif;
}
#AlumniChair{
    background-color: #C2D2ED;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    color: #377CE9;
    padding-left: 100px;
    margin-bottom: 70px;
    margin-top: 80px;
    font-family: 'PT Serif', serif;
}
#spring{
    font-size: 30px;
    padding-left: 180px;
    font-family: 'PT Serif', serif;
}

#pic2{
    height: 500px;
}
#MCdescription{
    text-indent: 40px;
    margin-top: 60px;
    margin-left: 30px;
    font-family: 'Noto Sans KR', sans-serif;
}
#ed{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #C2D2ED;
    padding-left: 100px;
    margin-top: 150px;
    color: #377CE9;
    margin-bottom: 30px;
    font-family: 'PT Serif', serif;
}
#education{
    height: 200px;
    width: 500px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    background-color: #C2D2ED;
    color: #377CE9;
    padding-top: 50px;
    margin-top: 50px;
    margin-left: 50px;
    font-family: 'PT Serif', serif;
}
#schools{
    font-size: 30px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'PT Serif', serif;
}
#pic3{
    height: 420px;
    margin-top: 80px;
    margin-left: 90px;
}
#EducationInfo{
    text-indent: 50px;
    margin-top: 50px;
    font-family: 'Noto Sans KR', sans-serif;
   
}
footer{
    background-color: #e9edf1;
    margin-top: 100px;
    height: 100px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    padding-top: 20px;
}