#pre-law{
    padding-top: 20px;
    padding-bottom: 31px;
    text-align: center;
    color: black;
    font-size: 20px;

}
#portfolio{
    text-align: center;
    padding-top: 300px;
    margin-right: 300px;
    margin-left: 300px;
}

#pic1 {
    height: 540px;
    padding-top: 100px;
    margin-left: 200px
}
#work{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #C2D2ED;
    padding-left: 100px;
    margin-top: 150px;
    color: #377CE9;
}
#summer{
    padding-top: 75px;
    padding-left: 170px;
    font-size: 30px;
}

#morgan{
    padding-top: 30px;
    padding-left: 250px;
    padding-right: 950px;
    padding-bottom: 50px;
}
#AlumniChair{
    background-color: #C2D2ED;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 50px;
    color: white;
    padding-left: 150px;
}
#spring{
    Text-align: right;
    font-size: 35px;
    padding-left: 120px;
}
#p1MC{
    padding-left: 100px;
    padding-right: 150px;
    padding-top: 40px;
    text-indent: 50px;
}
#p2MC{
    padding-left: 100px;
    padding-right: 150px;
    padding-top: 10px;
    text-indent: 50px;
}
#p3MC{
    padding-left: 100px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 70px;
    text-indent: 50px;
}
#education{
    height: 250px;
    width: 600px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    background-color: #C2D2ED;
    color: white;
    padding-top: 70px;
    margin-left: 1030px;
}
#EducationInfo{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    text-indent: 50px;
}